```{=html}

<div class="list grid" style="column-gap: 10px;">
  <% for (const item of items) { %>
  <div class="card border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2" <%= metadataAttrs(item) %>>
    <div class="card-header py-1 px-2 border-bottom border-1 bg-light listing-title">
      <small class="card-text text-nowrap inline-block">
        <%= item.title %>
      </small>
    </div>
    <a href="<%- item.href %><%- item.image %>" class="lightbox" data-gallery="default" title="<%= item.title %>">
      <img src="<%- item.image %>" class="img-fluid figure-img" alt="An illustration of the <%= item.title %>" style="aspect-ratio: 1; object-fit: contain;"> <!-- mix-blend-mode: color-burn; -->
    </a>
  </div>
<% } %>
</div>

<!-- Splitting the galleries by sections of the listing -->
<script>
document.querySelectorAll("a[data-gallery='default']").forEach((el) => el.setAttribute("data-gallery", "quarto-lightbox-gallery-" + window.galleryCounter));
window.galleryCounter += 1;
</script>
```